.boxel {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}

.counter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body {
    background: #2A7B9B;
    background: linear-gradient(
        90deg,
        rgba(42, 123, 155, 1) 0%,
        rgba(87, 199, 133, 1) 29%,
        rgba(92, 200, 131, 1) 32%,
        rgba(123, 204, 121, 1) 47%,
        rgba(124, 204, 121, 1) 51%,
        rgba(127, 205, 120, 1) 63%,
        rgba(169, 211, 106, 1) 77%,
        rgba(237, 221, 83, 1) 100%
    );
}
button {
  /* Variables */
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
}

.button_top {
  display: block;
  box-sizing: border-box;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  padding: 0.75em 1.5em;
  background: var(--button_color);
  color: var(--button_outline_color);
  transform: translateY(-0.2em);
  transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
  transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
  transform: translateY(0);
}

.minus {
    background: #dc143c;
    color: orange;
}

.sum {
    background: green;
    color: greenyellow;
}
.reset {
    margin: 1rem;
    background-color: #212121;
    color: #a1a1a1;
}


